<div class="row static_page">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

		<h1 class="static_page"> A Competitor's Investor is Your Enemy </h1>

		<blockquote>
		  <p>“VCs will tell your secrets to your competitors if they end up investing in them. It's not unheard of for VCs to meet you when they have no intention of funding you, just to pick your brain for a competitor.”</p>
		  <footer> <a href="http://www.paulgraham.com/venturecapital.html"> Paul Graham, Y Combinator </a> </footer>
		</blockquote>

		<!--
		<p class="lead">If a VC is already invested in one of your competitors it is extremely unlikely that they will also invest in your company.</p>
		-->

		<p>
			If a VC is already invested in one of your competitors it is extremely unlikely that they will also invest in your company.
			There is a <a href="http://avc.com/2011/03/investing-in-competing-companies/"> serious conflict of interest </a> that results from advising two companies that are in competition so most VCs will not invest in companies that compete with their current portfolio companies.
		</p>

		<div class="embed-responsive embed-responsive-16by9 youtube">
		  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/oOe05w1gLrE?start=2120&end=2157" frameborder="0" allowfullscreen></iframe>
		</div>

		<p>
			This makes it important to identify and keep track of your competitors’ VCs-- at best talking to them is a waste of your time, at worst they could use your info to tip off your competitor. We built VC Nemesis to help you keep track of the VCs working with your competitors (we know “Nemesis” is a stretch, but we liked the name).
		</p>
		<p>
			Some VCs may be willing to invest in companies that compete with companies already in their portfolio, but working with them is probably not a great idea since this is an indication that they either ____ (look at links).
		</p>
		<p>
			There are some cases where two competitors have ended up in the portfolio of the same respectable VC, but these are usually scenarios where the two companies started off with different plans and then one decided to change course and enter the other company’s target market (space?). This situation can be hard for VCs to predict or avoid.
		</p>

		<p>
			The VC firm Andressen Horowitz <a href="http://www.bhorowitz.com/instagram">
			 encountered this </a> with their investments in PicPlz and Instagram. When Instagram switched their focus from check-ins to photo sharing, they became direct competitors with PicPlz. Since Andreessen had already committed to PicPlz as their picture sharing investment, they decided that they could not make any further investments in Instagram (This was the right call even though they missed out on the opportunity to make a lot of money when Instagram ended up dominating the market).
		</p>

		<blockquote>
		  <p>“If you fund as many companies as we do it's unavoidable you'll end up with some overlap. Even if you tried not to accept competing companies, you'd still get overlap because startups' ideas morph so much. The way we deal with it is that when two startups are working on related stuff, we don't talk to one about what the other's doing.”</p>
		  <footer> <a href="http://ycombinator.com/faq.html"> Y Combinator FAQ </a> </footer>
		</blockquote>

		<blockquote>
		  <p>“We invest in many companies and take a portfolio approach towards investing: if we like a sector, then we will invest in multiple companies so long as the company meets our criteria. Therefore, we end up investing in similar companies from time-to-time.”</p>
		  <footer> <a href="http://www.quora.com/Ron-Conway-SV-Angel/Should-I-pitch-SV-Angel-if-our-business-might-indirectly-compete-with-some-of-their-portfolio-companies"> David Lee, Partner at SV Angel </a> </footer>
		</blockquote>

	</div>

</div>
