<div class="row static_page">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

		<h1 class="static_page"> A Warning About Competition </h1>

		<p>
			The world is becoming increasingly willing and able to adopt new technologies. Its never been easier to start a tech company-- open source software, Amazon Web Services, and mobile platforms have made it easy and cheap to launch products. Unless you're operating in a very, very specific domain, its unlikely that you're the only one to have your startup idea. This has led to an explosion in the number of tech startups<!--(data?)--> and a corresponding increase in competition.
		</p>

		<p>
			We built VC Nemesis as a tool to make it easier ​for startups to track their competition’s investors (we got tired of keeping track of this info ​ourselves ​in a perpetually outdated spreadsheet), but we also want to be careful not to encourage anyone to focus too much on their competitors.
		</p>

		<p>
			Your competitors will raise money. They will be featured in TechCrunch. They will have impressive websites that have nothing to do with their core product. They will hire Ashton Kutcher as a "Creative Director." Focusing obsessively on your competition wastes a lot of time and is mentally draining. If you're a Bitcoin company or a music streaming app, good luck keeping track of the competitive landscape. Your main objective, and the only thing you have control over, is building a great company and product. So pick your head up every once in a while to look around (and check VC Nemesis), but then quickly get back to work.
		</p>

	</div>

</div>