<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

		<h1 class="FAQ-header"> FAQ </h1>

		<p class="FAQ-Q">
			Who is that guy on your homepage?
		</p>

		<p class="FAQ-A">
			Justin Timberlake. <a href="http://www.wired.com/2012/08/middle-finger-movie-moments/#slideid-384731" target="_blank">Because</a>.
		</p>

		<p class="FAQ-Q">
			What is on the background of your homepage?
		</p>

		<p class="FAQ-A">
			A picture of the <a href="http://www.vanityfair.com/culture/2013/05/silicon-valley-cougar-nights-love" target="_blank">Rosewood Hotel</a> in Menlo Park.
		</p>

		<p class="FAQ-Q">
			Why am I not able to add a particular company?
		</p>

		<p class="FAQ-A">
			The company must be in <a href="http://www.crunchbase.com" target="_blank"> Crunchbase </a> in order for VC Nemesis to get the relevant venture funding data. If you're having trouble adding a specific company, please find the company's Crunchbase page. Look at the page's url and enter in the part of the url at the very end (e.g. If the url is <samp> www.crunchbase.com/organization/facebook </samp> then enter ‘facebook’ ) -- then VC Nemesis should pull the company's data. <a href="https://twitter.com/AmitTaylor" target="_blank"> Let us know </a> if you still have any issues.
		</p>

	</div>

</div>
