	<div class="row static_page charts">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

			<h1 class="static_page">
	        	SF vs. The Peninsula <br>
				<small>Which is the more popular place to start a company?</small>
			</h1>

	        <iframe src="https://mapsengine.google.com/map/embed?mid=zH0ZCsr83uBI.kS3QCOm3HLdw" width="550" height="400"></iframe>

	        <p class="small peninsula text-center">
	        	(<a href="http://en.wikipedia.org/wiki/San_Francisco_Peninsula">Wikipedia</a>: 'The Peninsula' consists of all San Mateo County plus Palo Alto, Los Altos and Mountain View.)
	        </p>

	        <hr class="half-rule">

	        <div>
	          <p>The Peninsula is still ahead in terms of total venture funding, but SF has been catching up:</p>
	          
	          <div>
	            <h2 class="chart_title"> <small>Venture Investing</small></h2>
	            <!-- <p class="lead">Annual Venture Investing</p> -->
	            <div>    

	              <iframe height=400 width=600 src="//docs.google.com/spreadsheets/d/1Bu8rDVhCyWxIB0GffkmyWwRL8f9gCCkjV7kgkxpPJ_Q/gviz/chartiframe?oid=990420636" seamless frameborder=0 scrolling=no></iframe>

	            </div>
	          </div>
	        </div>

	        <hr class="half-rule">

	        <div>
	        	<p>SF is already well ahead in early stage venture investing, a good indication that SF will soon surpass The Peninsula in total funding as these newly funded companies continue to grow and raise larger rounds.
	        	<!-- <p class="lead">Early Stage Annual Venture Investing (Seed and Series A)</p> -->

	        	<h2 class="chart_title"> <small>Early Stage Venture Investing (Seed and Series A) </small></h2>

	       	<div>
	        	<iframe height=400 width=600 src="//docs.google.com/spreadsheets/d/1Bu8rDVhCyWxIB0GffkmyWwRL8f9gCCkjV7kgkxpPJ_Q/gviz/chartiframe?oid=493042817" seamless frameborder=0 scrolling=no></iframe>

			</div>



	        </div>

	        <!--
	        <hr class="half-rule">

	        <p>Here's a breakdown by tech sector:
	        </p>

	        <div>

	        </div>
	        -->

	        <div>
	          <!--
	          <p>A company's location is usually determined by the founders. Perhaps a reason for the migration up to SF is that today's companies are being founded by younger employees than during the dotcom bubble</p>
	          -->
	        </div>

		</div>

	</div>
