
	<h3>Add competitors:</h3>		

	<form class="form-inline" id="company-form" role="form" action="http://localhost:3000/company" method="get">  <!-- the localhost link here probably needs to be changed at some point -->

		<div class="form-group">
			<label class="sr-only" for="exampleCompany">Company Name</label>
			<!-- Always add labels- Screen readers will have trouble with your forms if you don't include a label for every input. For these inline forms, you can hide the labels using the .sr-only class. -->

				<input type="text" class="form-control" id="companyName1" name="name" placeholder="enter competitor name">
		
		</div>					

		<div class="form-group">
		
				<button type="submit" id="company-form-button" class="btn btn-default" data-loading-text="searching...">add</button>
		
		</div>
							
	</form>

	<div class="alert alert-success comp-alert comp-success">
	  	<p>company added!</p>
	</div>

	<div class="alert alert-danger comp-alert comp-fail">
	  <p>
	  	Uh oh! Company not found.   :(  <br>
	  	Please confirm your spelling of the company name.
	  </p>
	</div>



	<!-- typeahead version
	<div class="row">
		<div class="col-md-10">
			<input type="text" class="form-control typeahead" id="search" data-provide="typeahead" data-items="4" placeholder="enter competitor name here" autocomplete="off">
			
		</div>
	</div>
	-->
