
	<!--
	<head>
		
		<title>VC Nemesis | some VC's are not your friends</title>
		
		<meta name="description" content="Use VC Enemy to figure out who you should (and shouldn’t) be talking to">
    	<meta name="author" content="">

	</head>
	-->
