

<% content_for :head do %>
	<title>VC Nemesis | some VC's are not your friends</title>
	<meta name="description" content="Use VC Enemy to figure out who you should (and shouldn’t) be talking to">
<% end %>



		</div>
	</div>
</div> <!-- this closes the regular page containter, allows for full width image -->

<% if @user_registered %>
<% else %>
	<div class="info text-center">
		<div class="collapse-group">
		
			<div class="info2">
				<div class="info3 in viewdetails">

					
					<div class="col-md-12"><div class="container">
						<div class ="row">
		
								<h1>A free tool to keep track of who’s invested in the competition.</h1>
								<h2>Use VC Nemesis to figure out who you should (and shouldn’t) be talking to.</h2>
								<h3>examples:
									<a class="add-sample-comps" title="Online Dating" id="musicstreaming"><em>Music Streaming</em></a>, 
									<a class="add-sample-comps" title="Drones" id="bitcoin"><em>Bitcoin</em></a>
								</h3>
								
								<button type="button" class="btn btn-default clps in viewdetails" data-toggle="collapse" data-target=".viewdetails"><strong>&and;</strong></button>
							</div>
						</div>
					</div> <!-- containter -->
				</div>
			</div>
			
		<button type="button" class="btn btn-default opn collapse viewdetails" data-toggle="collapse" data-target=".viewdetails"><strong>more info &or; </strong></button>					
		</div>

	</div> <!-- /info  -->
<% end %>


<div class="container">

	<div class ="row">
	
		<div class="col-md-12">

			<div class="row">
	  
				<div class="col-md-4">
					
					<div class="second">

						<%= render 'welcome/addcompetitors' %>

						<%= render 'welcome/competitorlist' %>

					</div>
				</div>  <!-- /col-md-4 -->
		
				<div class="col-md-8">

					<%= render 'welcome/investors' %>

					<%= render 'welcome/competitors' %>

				</div>  <!-- /col-md-8 -->

			</div> <!-- /row -->

		</div> <!-- /div col-md-12 -->
	</div> <!-- /div row -->
</div> <!-- /container -->


<% if @user_registered %>
	<div class="signup1"></div> 
<% else %>

	<!-- add this back in once the cron job is ready to go
	<div class="alert alert-warning alert-dismissable fade in signup1">
		<button type="button" class="close" id="signup1-close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<h4><strong>Sign up to save your search.</strong></h4>
		Get an alert any time one of your competitors gets funded.
	</div>
	-->

<% end %>

