<p>Hello <%= @resource.email %>!</p>

<p>You requested to reset the password for your VCNemesis account with the email address <%= @resource.email %>. Please Click this link to reset your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p> Thank you, The VCNemesis Team </p>