<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">					
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			 </button>
			
			<a class="navbar-brand" href="#">
				<img class="logo hidden-xs" src="images/VCN_logo_50px.png" alt="VCN logo" height="40px" width="40px">
				<div class="name">
					VC <span class="enemy"><strong> Nemesis </strong></span>
					</br>
					<span class="tagline hidden-xs"> some VC's are not your friends </span>
					<span class="tagline visible-xs">&exist; VC: VC != friend </span>
				</div>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				<!--
				<li>
					<button type="button" class="btn btn-link navbar-btn">
						<span class="glyphicon glyphicon-book"></span>
						Recommended Reading
					</button>
				</li>
				<li>
					<button type="button" class="btn btn-link navbar-btn">
						<span class="glyphicon glyphicon-stats"></span>
						Analysis
					</button>
				</li>
				-->
				<li>
					<button type="button" class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#SignUpModal">Sign Up</button>
				</li>
				<li>
					<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#SignInModal">Sign In</button>
				</li>
			</ul>
		</div>
	</div>
</div>